@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about-us,
.contact-us,
.tasse,
.vases,
.autres,
.assiette {
  display: flex;
  height: 91.5vh;
  justify-content: center;
  font-size: 3rem;
}
.home {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}



.about-us {
  background-image: url('./components/images/img-2.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color:#fff;
  font-size: 70px;
}

.contact-us {
  background-image: url('./components/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
}

.tasse {
  background-image: url('./components/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
}

.assiette {
  background-image: url('./components/images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
}
.vases {
  background-image: url('./components/images/img-6.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
}
.autres {
  background-image: url('./components/images/img-7.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
}